.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: salmon;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}

nav img {
    max-width: 3em;
}
